
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Passport Login example</h1>
    <p>This example is a Login process in require passport</p>
    <p>
      <a class="btn btn-lg btn-primary" href="/login" role="button">Passport Login »</a>
    </p>
  </div>

</div>
</div>
</div>